#app
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.toggleShow
{
    display: flex;
    align-content: center;

    position: sticky;
    top: 0;

    border: 0;
    border-right: $control-border;

    height: 100vh;
    margin: 0;

    font-size: 0.8em;
    font-weight: bold;

    cursor: pointer;

    div
    {
        line-height: 0.8;
    }

    &.shown
    {
        position: absolute;
        left: 9px;
        z-index: 99;

        background: linear-gradient(90deg, rgba(red($control-bg), green($control-bg), blue($control-bg), 0.6) 0%, transparent 100%);

        height: 8vh;
        width: 11px;

        border: 0;
        padding: 0;
        margin: 0;

        margin-left: -10px;

        color: $sidebar-text-color;
    }

    &:focus
    {
        outline: 0;
    }
}

.headerStatus
{
    box-sizing: border-box;

    color: black;

    width: 100%;
    text-align: center;
    padding: 8px;

    background-color: goldenrod;    
}

.sideBar
{
    box-sizing: border-box;

    position: sticky;
    top: 0;

    height: 100vh;

    resize: horizontal;

    width: 33vw;
    min-width: 25vw;

    padding: 0 10px 0 0;

    overflow-y: overlay;
    overflow-x: hidden;

    background: $sidebar-bg;
    color: $sidebar-text-color;

    box-shadow: 2px 0px 4px -1px lighten(black, 33%);

    h2
    {
        text-align: center;

        font-weight: bold;
        font-size: 1.5em;

        margin-bottom: 0.66em;
        padding: 0.25em 0.5em;
        
        box-shadow: 0px 14px 16px -10px black;
    }
}

.main
{
    box-sizing: border-box;

    background: transparent;
    color: $main-text-color;

    width: 67vw;

    &.withoutSidebar
    {
        width: 100vw;
    }

    .tabContainer
    {
        display: flex;

        .tab
        {
            cursor: pointer;
            
            background: $control-bg;
            color: $control-placeholder-fg;

            font-size: 1.25em;
            padding: 0.5em;

            margin-right: 0.1em;
            
            &.current
            {
                color: $control-fg;
                font-weight: bold;
            }
        }
    }
}