.search
{
    button
    {
        text-align: center;
        width: 84px;
        
        span, svg
        {
            max-height: 20px;
        }
    }

    .emptyText
    {
        background: $control-bg;
        color: $control-fg;

        width: 100%;
        padding: 0.5em;

        text-align: center;
        font-size: 4em;
        font-weight: bold;

        small
        {
            font-weight: normal;
            font-style: italic;

            display: block;
            font-size: 0.33em;

            color: $control-placeholder-fg;
        }
    }

    .options
    {
        background: $sidebar-bg;

        margin-bottom: 0.5em;
        padding: 0.25em 0.5em 0.5em 0.5em;
        
        box-shadow: 0px 2px 4px -1px $sidebar-shadow-color;

        .mainSearch
        {
            width: calc(100% - 192px);
        }

        .advancedSearch
        {
            label, .half, .third
            {
                display: inline-block;
                
                input[type=text]
                {
                     width: 100%;

                     &.wide
                     {
                        width: calc(100% - 0.7em);
                     }
                }

                input[type=checkbox] { vertical-align: text-bottom; }
            }

            label
            {
                margin-top: 0.5em;
            }

            .colors.half label
            {
                margin-top: 0;
            }

            .half, .third
            {
                box-sizing: border-box;
                padding-right: 0.5em;
            }

            .half
            {
                width: calc(50% - 0.2em);
            }

            .third
            {
                width: calc(33% - 0.1em);
            }

            .full
            {
                display: block;
            }

            $extra-lightness: 0%;

            .imageCheckbox
            {
                border: $control-border;

                &.W { background: opacify(lighten($mtg-white, $extra-lightness), 1); }
                &.U { background: opacify(lighten($mtg-blue, $extra-lightness), 1); }
                &.B { background: opacify(lighten($mtg-black, $extra-lightness), 1); }
                &.R { background: opacify(lighten($mtg-red, $extra-lightness), 1); }
                &.G { background: opacify(lighten($mtg-green, $extra-lightness), 1); }
            }
        }
    }
}