@import "./imports/loader.scss";
@import "./imports/reset.scss";

@import "./components/app.scss";
@import "./components/cardbrowser.scss";
@import "./components/search.scss";

@import "./components/cardgrid.scss";
@import "./components/cardlistentry.scss";
@import "./components/tinycard.scss";
@import "./components/cardart.scss";

*
{
    &::-webkit-scrollbar
    {
        width: 10px;
    }

    &::-webkit-resizer
    {
        //background: red;
        background: $sidebar-bg;
        border: 1px solid red;
    }

    &::-webkit-scrollbar-thumb
    {
        -webkit-transform: translate3d(0, 0, 0);
        
        border-radius: 10px;
        background: $scrollbar-color;

        &:hover
        {
            background: rgba(0, 0, 0, 0.33);
        }
    }
}

html, body
{
    margin: 0;
    padding: 0;
}

body
{
    overflow-x: hidden;
    background: $main-bg;

    background-size: cover;

    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body > *, select, input, button
{
    font-family: $global-font;
}

select, input, button
{
    background: $control-bg;
    color: $control-fg;
    fill: $control-fg;

    border: $control-border;
    padding: 2px;
    margin: 1px 0;

    min-height: 18px;

    transition: all 0.3s ease-in-out; 

    &::placeholder
    {
        color: $control-placeholder-fg;
    }

    &[disabled]
    {
        color: $control-placeholder-fg;
        background-color: desaturate($control-bg, 50%);

        @include disabled-control();
    }
}

label
{
    font-weight: bold;
}

button
{
    font-weight: bold;

    svg
    {
        vertical-align: middle;
    }
}

$opaque-bg: opacify($control-bg, 1);

.v-select
{
    font-family: $global-font;
    background: $opaque-bg;

    z-index: 0;

    &.open
    {
        z-index: 99;
    }

    .open-indicator
    {
        &:before
        {
            border-color: $control-fg;
        }
    }

    .selected-tag
    {
        background: darken($opaque-bg, 8%);
        color: $control-fg;

        border: 0px;

        font-size: 0.85em;

        .close
        {
            color: $control-fg;
            opacity: 1;
        }
    }

    .dropdown-toggle
    {
        border: $control-border;
    }

    .dropdown-menu
    {
        position: absolute;

        background: $opaque-bg;
        
        & > *
        {
            z-index: 99;
        }
        
        li
        {
            line-height: 1.2;
        }

        li
        {
            a
            {
                color: $control-fg;
            }

            &.highlight a
            {
                background-color: darken($opaque-bg, 5%);
            }
        }

        .highlight a
        {
            color: $control-fg;
        }
    }
}

.ctx-menu
{
    font-family: $global-font;
    background: $opaque-bg;

    box-shadow: none;
    border: $control-border;

    z-index: 99999;

    padding: 0px;

    li.separator
    {
        border-bottom: $control-border;
    }
    
    .ctx-item
    {
        color: $control-fg;
        padding: 2px 5px;

        &:hover
        {
            background: rgba(red($control-fg), green($control-fg), blue($control-fg), 0.2);
        }
    }
}