body > *, select, input, button
{
    font-family: $global-font;
}

select, input, button
{
    background: $control-bg;
    color: $control-fg;

    border: $control-border;
    padding: 2px;

    margin: 1px 0;

    &::placeholder
    {
        color: darken($control-fg, 33%);
    }
}

button
{
    font-weight: bold;
}