//Theme-independent variables
$mtg-rarity-names: Co, Un, Ra, My, Sp;
$mtg-rarity-colors: $mtg-common, $mtg-uncommon, $mtg-rare, $mtg-mythic, $mtg-special;

$mtg-color-names: U, B, R, W, G;
$mtg-colors: $mtg-blue, $mtg-black, $mtg-red, $mtg-white, $mtg-green;

$mtg-guilds:
(
    WU: ($mtg-white, $mtg-blue),
    WB: ($mtg-white, $mtg-black),

    UB: ($mtg-blue, $mtg-black),
    UR: ($mtg-blue, $mtg-red),

    BR: ($mtg-black, $mtg-red),
    BG: ($mtg-black, $mtg-green),

    RG: ($mtg-red, $mtg-green),
    GR: ($mtg-red, $mtg-green),

    RW: ($mtg-red, $mtg-white),

    WG: ($mtg-green, $mtg-white),
    GW: ($mtg-green, $mtg-white),

    GU: ($mtg-green, $mtg-blue)
);

$border-vars: 0.3rem solid;

$scrollbar-color: $control-fg;
$scrollbar-container: opacify($control-bg, 1);

//Global mixins
@mixin clear-appearance()
{
    -webkit-appearance: none;
    -moz-appearance: none;
}

@mixin card-bg-colors()
{
    background: linear-gradient(0deg, lighten($mtg-artifact, 6%) 25%, lighten($mtg-artifact, 10%) 100%);

    @for $i from 1 through length($mtg-color-names)
    {
        &.#{nth($mtg-color-names, $i)}
        {
            background: lighten(nth($mtg-colors, $i), 6%);
        }
    }

    @each $guild, $colors in $mtg-guilds
    {
        &.#{$guild}
        {
            background: linear-gradient(45deg, lighten(nth($colors, 1), 6%) 0%, nth($colors, 2) 100%);
        }
    }

    &.Gld
    {
        background: linear-gradient(0deg, lighten($mtg-gold, 15%) 25%, lighten($mtg-gold, 10%) 100%);
    }
}

@mixin list-bg-colors()
{
    border-left: $border-vars darken($mtg-artifact, 25%);
    background: linear-gradient(0deg, lighten($mtg-artifact, 6%) 25%, lighten($mtg-artifact, 10%) 100%);

    @for $i from 1 through length($mtg-color-names)
    {
        $cur-color: nth($mtg-colors, $i);

        &.#{nth($mtg-color-names, $i)}
        {
            background: linear-gradient(0deg, lighten($cur-color, 6%) 25%, lighten($cur-color, 10%) 100%);
        }
    }

    @each $guild, $colors in $mtg-guilds
    {
        $first-color: nth($colors, 1);
        $second-color: nth($colors, 2);

        &.#{$guild}
        {
            background: linear-gradient(to left top, lighten($first-color, 4%) 16%, lighten($second-color, 0%) 100%);
        }
    }

    &.Gld
    {
        background: linear-gradient(0deg, lighten($mtg-gold, 15%) 25%, lighten($mtg-gold, 10%) 100%);
    }

    @for $i from 1 through length($mtg-rarity-names)
    {
        &.#{nth($mtg-rarity-names, $i)}
        {
            border-left: $border-vars nth($mtg-rarity-colors, $i);
        }
    }
};