//Global vars
$mtg-blue: #aae0fa;
$mtg-black: #cbc2bf;
$mtg-red: #f9aa8f;
$mtg-white: #fffbd5;
$mtg-green: #9bd3ae;

$mtg-common: rgb(70, 63, 63);
$mtg-uncommon: rgb(158, 158, 158);
$mtg-rare: rgb(221, 188, 106);
$mtg-mythic: rgb(242, 129, 0);
$mtg-special: DarkOrchid;

$mtg-artifact: #d9d9d9;
$mtg-gold: $mtg-rare;

$card-text-color: black;
$light-text: lighten($card-text-color, 33%);

$card-list-font: sans-serif;

//Default theme settings
$global-font: sans-serif;
$card-list-font: $global-font;

$base-color: white;

$sidebar-bg: rgba(255, 255, 255, 0.33);
$main-bg: white;

$sidebar-text-color: rgb(35, 35, 35);
$main-text-color: $sidebar-text-color;

$control-bg: white;
$control-border: 2px solid darken($base-color, 25%);
$control-fg: black;
$control-placeholder-fg: lighten($control-fg, 40%);

$card-text-color: black;
$light-text: darken(desaturate($card-text-color, 100%), 6%);