@import "../../variables.scss";
@import "settings.scss";
@import "../../mixins.scss";
@import "../../base.scss";

$material-primary: #3f51b5;
$material-input-highlight: #26a69a;

input, select, .v-select
{
    font-size: 16px;
    height: 34px;

    border-bottom: 1px solid rgb(158, 158, 158);

    transition: all 0.2s ease-out;

    &:focus
    {
        border-bottom: 1px solid $material-input-highlight;
        box-shadow: 0 1px 0 0 $material-input-highlight;
    }

    &:disabled
    {
        color: rgba(0,0,0,0.26);
        background-color: transparent;
    }
}

input, select
{
    padding: 0 8px;

    &:focus
    {
        outline: none;
    }

    &[type=checkbox]
    {
        &:checked:after
        {
            top: -3px;
            left: -5px;
        }
    }
}

label
{
    font-weight: normal;
    color: #9e9e9e;

    font-size: 0.9em;
    text-transform: uppercase;
}

$material-highlight-padding: 0.6rem 2rem;

@mixin material-highlight
{
    background: $material-primary;
    color: white;
    fill: white;
    border-radius: 2px;

    text-transform: uppercase;

    transition: all 0.16s ease-in-out;

    &:hover
    {
        box-shadow: 
            0 3px 3px 0 rgba(0,0,0,0.14),
            0 1px 7px 0 rgba(0,0,0,0.12),
            0 3px 1px -1px rgba(0,0,0,0.2);

        background: lighten($material-primary, 8%);
    }
}

.main .tabContainer .tab
{
    @include material-highlight();
    padding: $material-highlight-padding;

    &.current
    {
        color: white;
    }
}

.v-select .selected-tag, button
{
    @include material-highlight();
}

button
{
    padding: $material-highlight-padding;
}

.ctx-menu
{
    .ctx-item
    {
        padding: 4px 10px;
    }

    li.separator
    {
        border-bottom: 2px solid $material-input-highlight;
    }
}

.search
{
    button
    {
        span, svg
        {
            max-height: none;
        }
    }
}