$mtg-blue: transparentize(darken(saturate($mtg-blue, 33%), 55%), 0.15);
$mtg-black: transparentize(lighten(black, 10%), 0.15);
$mtg-red: transparentize(darken(desaturate($mtg-red, 10%), 50%), 0.1);
$mtg-white: transparentize(darken(desaturate($mtg-white, 95%), 60%), 0.1);
$mtg-green: transparentize(darken(saturate($mtg-green, 33%), 50%), 0.15);

$mtg-artifact: transparentize(darken($mtg-artifact, 45%), 0.1);

$mtg-gold: transparentize(darken(saturate($mtg-gold, 33%), 40%), 0.1);