@import url('https://fonts.googleapis.com/css?family=Taviraj');
$global-font: "Taviraj", serif;
$card-list-font: $global-font;

$base-color: teal;

$sidebar-bg: rgba(255, 255, 255, 0.1);
$main-bg: url('./assets/backgrounds/innistrad.jpg');

$sidebar-text-color: rgb(235, 235, 255);
$main-text-color: rgb(235, 235, 255);

$control-bg: darken(transparentize(saturate($base-color, 100%), 0.1), 20%);
$control-border: 2px solid darken($base-color, 25%);
$control-fg: white;
$control-placeholder-fg: darken($control-fg, 20%);

$card-text-color: rgb(230, 230, 210);
$light-text: darken(desaturate($card-text-color, 100%), 6%);

//Color overrides
@import "../../imports/darkColors.scss";
$mtg-white: transparentize(darken(desaturate(#fffbd5, 70%), 50%), 0.4);

//Mixin overrides
@mixin main-text-effect()
{
    text-shadow: 0px 0px 3px black, 0px 0px 8px black;
}

@mixin sidebar-text-effect()
{
    @include main-text-effect();
}